{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="my-4">
    <h3><a class="font-weight-bold text-dark" href="#">{ユーザー名}</a>さんのフォロー関係</h3>
</div>

<ul class="nav nav-tabs text-center">
    <li class="nav-item col-6 p-2">
        <a class="nav-link active bg-white text-dark border font-weight-bold" href="/follow/following">
            フォロー中
        </a>
    </li>
    <li class="nav-item col-6 p-2">
        <a class="nav-link text-muted border font-weight-bold" href="/follow/followers"
            onMouseOver="this.style.color='#0067C0'; this.style.textDecoration='underline';"
            onMouseOut="this.style.color='#000'; this.style.textDecoration='none';">
            フォロワー
        </a>
    </li>
</ul>
<div class="list-group">
    {% for i in test_arr %}
    <a href="#" class="list-group-item list-group-item-action d-flex flex-row">
        <img class="col-1 p-2"
            src="https://4.bp.blogspot.com/-gKPdnJWscyI/VCIkF3Po4DI/AAAAAAAAmjo/fAKkTMyf8hM/s800/monster01.png">
        <div class="col-2 p-2 font-weight-bold"
            onMouseOver="this.style.color='#0067C0'; this.style.textDecoration='underline';"
            onMouseOut="this.style.color='#000'; this.style.textDecoration='none';">
            まっちゃん
        </div>
        <div class="col-8 p-2">好きな食べ物はからあげです．よろしくお願いします．</div>
    </a>
    {% endfor %}
</div>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{user_name}}さんがフォローしている人</h2>
    {% for following in followings %}
    <p>{{following}}</p>
    {% endfor %}
</body>
</html> -->
