{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<h2 class="my-5">フォロー中のユーザー</h2>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex flex-row">
        <div class="col-1 p-2">アイコン</div>
        <div class="col-2 p-2 font-weight-bold">ユーザー名</div>
        <div class="col-8 p-2">自己紹介文</div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex flex-row">
        <div class="col-1 p-2">アイコン</div>
        <div class="col-2 p-2 font-weight-bold">ユーザー名</div>
        <div class="col-8 p-2">自己紹介文</div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex flex-row">
        <div class="col-1 p-2">アイコン</div>
        <div class="col-2 p-2 font-weight-bold">ユーザー名</div>
        <div class="col-8 p-2">自己紹介文</div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex flex-row">
        <div class="col-1 p-2">アイコン</div>
        <div class="col-2 p-2 font-weight-bold">ユーザー名</div>
        <div class="col-8 p-2">自己紹介文</div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex flex-row">
        <div class="col-1 p-2">アイコン</div>
        <div class="col-2 p-2 font-weight-bold">ユーザー名</div>
        <div class="col-8 p-2">自己紹介文</div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex flex-row">
        <div class="col-1 p-2">アイコン</div>
        <div class="col-2 p-2 font-weight-bold">ユーザー名</div>
        <div class="col-8 p-2">自己紹介文</div>
    </a>
</div>

{% endblock %}