{% extends "app/base.html" %}

{% block content %}
    <br>
    <br>
    <div><h2 style="align-content: center;">
        <b style="color: #BF0201;">参加予定勉強会:</b>
    </h2>
    <br><br>

    </div>
        {% for post in seminars %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title}}</h2>
                <p class="card-text">{{ post.content | truncatechars:100}}</p>
                <p class="card-text">{{ post.link }}</p>
                <div class="btn btn-warning">詳細</div>
            </div>
            <div class="card-footer text-muted">
                {{ post.created|date }} by {{ post.author}}
            </div>
            <a href="{% url 'post_study_detail' post.id %}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>
{% endblock%}

