{% extends "app/base.html" %}

{% block content %}

<div class="row my-4">
    <div class="col-md-8">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/home">タイムライン</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/study">開催予定の勉強会</a>
            </li>
        </ul>
        {% for post in post_data %}
        <div class="card mb-4">
            <div class="card-body">
                <img src="https://i.gyazo.com/0f0a76e00c34c7e0a1dd400d9d9003f8.jpg" class="float-left rounded-circle">
                <div class="col-ml-20">aaa{{ post.usericon }}bbb</div>
                <div class="">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content | truncatechars:100}}</p>
                    <a href="{% url 'post_detail' post.id %}">
                        <div class="btn btn-warning">
                            詳細
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ post.created|date }} by {{ post.author}}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body text-center">
                <a class=" btn btn-warning" href="/post/new">新規投稿</a>
            </div>
        </div>
    </div>

</div>

{% endblock%}