{% extends "app/base.html" %}

{% block content %}

<div class= my-sm-4>
    <a href="/home" class="btn"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"/>戻る</a>
    <div class="mb-1"/>    
    <div class="card mb-4">
        <div class="card-body">
            <img src="https://i.gyazo.com/0f0a76e00c34c7e0a1dd400d9d9003f8.jpg" class="avatar float-left rounded-circle" style="max-width:20%;"/>
            
            <h2 class="card-title">{{ post_data.title }}
            <hr>

            <p class="card-text">{{ post_data.content|linebreaksbr }}</p>
            <a href="{% url 'study_participate' post_data.id %}" class="btn btn-warning mr-2">勉強会に参加する</a>
        </div>
        <div class="card-footer text-muted">
            {{ post_data.created|date }} by {{ post_data.author }}
        </div>
    </div>
</div>

{% if post_data.author ==  user %}
<div class="d-flex mb-5">
    <a href="{% url 'post_study_edit' post_data.id %}" class="btn btn-warning mr-2">編集する</a>
    <a href="{% url 'post_study_delete' post_data.id %}" class="btn btn-danger">削除する</a>
</div>
{% endif %}

{% if user.is_authenticated %}
<hr>
<!--　コメントされたものを表示 -->
<h2 class="subtitle">コメント</h2>

{% for comment in post_data.comments.all %}
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <a>{{comment.posted_id}}</a>
                <strong>
                    
                    <small>{{comment.created}} by {{ comment.author }}</small>
                </strong>
                <br />
                {{comment.content}}
            </p>
        </div>
    </div>
</article>
{% empty %}
<div class="notification">
    <p>コメントはまだありません</p>
</div>
<hr>
{% endfor%}
<hr>
<!--　コメント投稿エリア -->
<h2 class="subtitle">コメントを追加</h2>
<form action="" method="post">{% csrf_token %}
    {{form.as_p}}
    <div class="formpost">
        <div class="formpost">
            <button class="btn btn-danger", type="submit">送信</button>

        </div>
    </div>
</form>

{% endif %}

{% endblock %}